{
  "jsxSingleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "proseWrap": "always"
}
