.navbar {
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 1.3em;
  }
  .link {
    height: 100%;
    line-height: 56px;
    span {
      display: inline-block;
      font-size: 18px;
      padding: 0 16px;
      color: rgb(43, 41, 40);
    }
    .action {
      color: #eee;
      background-color: #4e4e4e;
    }
  }
  .operaction {
    margin-left: 24px;
    width: 160px;
    display: flex;
    justify-content: space-around;
  }
}
